/* Estilos del HTML principales */
:root{

    /* Estilo de letra */
    --fuente-principal: 'Viga', sans-serif;

    /* Colores principales */
    --colorMoradoOscuro: #161529;
    --colorMoradoClaro: #313746;
    --colrNegro: #000000;
    --colorGris: #B8B8B6;
    --colorGrisBlanco: #EDEDEA;
    --colorNaranja: #FF2F00;
    --colorBlanco: #FFFFFF;

}

html{

    box-sizing: border-box;
    font-size: 62.5%;
}

*,* :before, *after{
    box-sizing: inherit;
}

body{

    font-family: var(--fuente-principal);
}

/* Diseño del header */

header{

    width: 100%;
    background-color: var(--colorMoradoOscuro);

}

#btnMenu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;

}

header label:hover{
    cursor: pointer;
    background-color: var(--colorMoradoClaro);
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    
}


.menu li{
    flex-grow: 1;
    border-right: 1px solid #FFFFFF;
}

.menu li:hover{
    background: var(--colorMoradoClaro);

}



.menu li a{
    display: block;
    padding: 15px 15px;
    color: var(--colorBlanco);
    text-decoration: none;
    text-align: center;
    font-size: 3rem;
   
}

/* Diseño del fas de menu */
.fa-bars{
    color: var(--colorBlanco);
    font-size: 3rem;
}

/* Estilo del submenu */
.menu li ul{
    background: var(--colorMoradoOscuro);
    position: absolute;
    color: var(--colorBlanco);
    font-size: 2rem;
    width: 5%;
    display: none;
    min-width: 140px;
    z-index: 100;
    text-align: center;
    
   
}

.menu li:hover > ul{
    display: block;
    
}

@media(max-width: 768px){
    header label{
        display: block;
    }

    .menu{
        position: absolute;
        background: var(--colorMoradoOscuro);
        width: 70%;
        margin-left: -70%;
        z-index: 100;
        transition: all 1s;
    }

    .menu ul{
        flex-direction: column;

    }

    .menu li{
        border-top: 1px solid #FFFFFF;
    }

    .menu li a{
        text-align: left;
    }

    #btnMenu:checked ~ .menu{
        margin: 0;
    }
}


.nosotros h1{
    padding: 0 60px;
    font-size: 4rem;
}

.nosotros p{

    position: relative;
    text-align: justify;
    height: 200px;
    width: 1000px;
    padding: 80px;
    font-size: 2rem;
    
}

/* Copyrigt y redes sociales */

.sociales h3{
    font-size: 2.5rem;
}
.sociales {
    
    text-align: center;
}
.sociales a {
    color:var(--colrNegro);
    font-size: 3rem;
    margin-right: 2rem;
}

.sociales a:last-child {
    margin-right: 0;
}
.copyright {
    background-color: var(--colorNaranja);
    color: var(--colrNegro);
    padding: 2rem 0;
    margin:  0 0 0 0;
    text-align: center;
    font-size: 3rem;
}
